.main *{
	
	font-family: Impact;
	padding: 0;
	margin: 0;
    
}
.main{
    background-color: var(--secondary);
}
:root {
	--primary: rgba(255, 153, 255, 0.8);
	--secondary: beige;
	--tertiary: rgba(250, 128, 114,0.9);
}


.main .cHeader{
    padding: 50px;
    margin: 20px auto;
    width: 20%;
    background: var(--tertiary);
    opacity: 0.85;
}



.main nav ul li {
	list-style: none;
}
.main nav ul li a {
	color: #222;
	text-decoration: none;
	padding: 10px;
	margin: 5px;
	background: var(--primary);
	float: left;
	font-size: 50px;
}
.main nav {
	/* Let's make it sticky, why not? */
	position: sticky;
	top: -20px;
	left: -8px;
	width: 100%;
	height: 102px;
	background-color: var(--tertiary);
	/* above all else */
	z-index: 999;
}




.lego{
    background-image:url(https://i.ytimg.com/vi/MsE6PJF99Bc/maxresdefault.jpg);
    background-size:cover;
    background-attachment: fixed;
}
.lego h1{
    padding: 50px;
    margin: auto;
    width: 20%;
    align-items: center;
    background-color: blue;
}